.page {
    position: absolute;
    left: 10%;
    top: 5%;
    width: 60%;
}

.proAccount {
    white-space: nowrap;
    margin-bottom: 50px;
}

.proAccount * {
    display: inline;
    vertical-align: top;
}
