.white {
  background-color: GhostWhite;
}
.lightblue {
  background-color: powderblue;
}
.blue {
  background-color: skyblue;
}
.darkblue {
  background-color: deepskyblue;
}

.content {
  top: 5%;
  left: 10%;
  position: absolute;
}

.colorpicker {
  display: flex;
}

.habitList {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pixel {
  width: 20px;
  height: 20px;
}

.pixel.tracker {
  border: 1px solid Gainsboro;
  box-sizing: border-box;
  cursor: pointer;
}

.pixel.day-of-month {
  text-align: center;
  font-size: 11px;
  background-color: white;
  cursor: default;
}

.todayDate {
  background-color: Salmon;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.habit {
  width: 180px;
  font-size: 0.8em;
}

.habitIconDelete {
  color: salmon;
}

.month {
  color: SteelBlue;
}

.canvas {
  display: flex;
  max-width: 900px;
  margin-right: 10px;
}
