.white {
    background-color: GhostWhite;
}
.lightblue {
    background-color: powderblue;
}
.blue {
    background-color: skyblue;
}
.darkblue {
    background-color: deepskyblue;
}

.content {
    top: 5%;
    left: 10%;
    position: absolute;
}

.habitList {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* height: 100vh; */
}

.pixel {
    width: 20px;
    height: 20px;
    border: 1px solid Gainsboro;
    box-sizing: border-box;
    cursor: pointer;
}

.pixel.current-color {
    border: 2px solid Gold;
}

.habit {
    margin: 0;
    width: 100px;
    padding-left: 20px;
    font-size: 0.8em;
}

.canvas {
    display: flex;
    align-self: flex-start;
    /* flex-wrap: wrap; */
    max-width: 900px;
}